*{
    margin: 0%;
    padding: 0%;
}
/* start to create a head part */
/* headpart  */
#headpart{
    width:100%;
    height: 100px;
    border: 1px solid black;
}
#big-div{
    width:100%;
    height: 100px;
    border: 1px solid black;
    background-color: rgb(96, 85, 74);
    display: flex;
    justify-content: center;
    align-items: center;
    gap:400px;
   
}
#headpart{
    position:fixed ;
}

#small-div1 h1{
    color: rgb(194, 190, 186); 
}
#small-div2{
    display: flex;
    gap:2px
}
.search i{
    font-size: 20px;
    color: rgb(194, 190, 186);
}
.placeholder input{
    height: 20px;
    width: 300px;
}
#small-div3{
    display: flex;
    gap:10px;
}
#signup-btn{
    height: 25px;
    width:120px;
    background-color:rgb(194, 190, 186); 
    border-radius: 20px;
}
.cart i{
    font-size: 20px;
    color: rgb(194, 190, 186);
}
/* headpart1 */
#headpart1{
    width:100%;
    height:150px;
    background-color:rgb(194, 190, 186) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}
#img{
    height: 100px;
    width:100%;
    display: flex;
    justify-content: center;
    gap:40px;
}
#img .img{
    height:100px;
    width:100px;
    border:1px solid black;
    border-radius: 50%;
}
.img img{
    height:100px;
    width:100px;
    border-radius: 50%;
}

#nav ul{
    display: flex;
    justify-content: center;
    gap:80px;
}
#nav ul a{
    text-decoration: none;
    color:rgb(77, 68, 60) ;
}
#nav ul a:hover{
    font-size:18px ;
}
#nav ul{
    list-style: none;
}


#sec1{
    width: 100%;
    height: 150px;
    background-color:rgb(194, 190, 186);
    
}
#sec1 #home1{
    width: 100%;
}

/* start to create placeorder */

#placeorder{
    width: 100%;
    height:150vh;
    border:1px solid #000000;
    background-color:rgba(207, 209, 207, 0.834);
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
    gap:100px;
    padding-top: 100px;
}
#placeorder a{
    text-decoration: none;
}

#items-order{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px
}
#items-order img{
    width:300px;
    height:300px;
}
#items-order:hover{
   opacity: 0.5;

    
}
#items-order button{
    width: 150px;
    height: 25px;
    border-radius: 5px;
}
#items-order p{
    color: black;
}

/* start to create order1 */

#order{
    width: 100%;
    height:200vh;
}
#order1{
    width: 100%;
    height:200vh;
    border: 1px solid black;
    background-color:rgba(207, 209, 207, 0.834); 
    padding-top: 200px;
    display: flex;
    justify-content: space-evenly;
}
#order1 #img{
    width:800px;
    height:800px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}
#order1 #img img{
    width: 800px;
    height:600px;
}
.condition{
    width:800px ;
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    background-color: rgb(177, 177, 241);
}
.condition div{
    width:200px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


/* start to create about order */
#about-order{
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    gap: 30px;
} 
/* about product */
#about-product{
    width: 100%;
    height: 100px;
    display: flex;
}
.about-product1{
    width:80%;
    height: 100px;
    display: flex;
    flex-direction: column;
    line-height: 30px;
}
.about-product1 p{
    color: rgb(110, 107, 107)
}
 b{
    color: black;
}
.about-product2{
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.about-product2 button{
    width:100px;
    border-radius: 10px;
    background-color: rgb(176, 110, 110);
}

/* add to cart */
#add-to-cart{
    width: 100%;
    height: 120px;
    display:flex;
    flex-direction: column;
    gap:15px;
}
.incre-decre{
    width: 100%;
    height: 30px;
    display: flex;
}
.incre-decre div{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
#add-to-cart .button button{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    background-color: rgb(13, 43, 37);
    color: whitesmoke;

}

/* Offer */
#offer{
    width: 100%;
    height: 100px;
    background-color: rgb(228, 228, 228);
    display: flex;
}
.offer-icon{
    width: 10%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offer{
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 25px;
}
.p1{
    color: rgb(110, 107, 107);
}

/* product details */

#product-details{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:15px
}
#product-details div{
    width:100%;
    display: flex;
    justify-content: space-between;
    
}

/* need help */

#help{
    width: 100%;
    height:200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:15px;
    background-color:rgb(228, 228, 228); ;
}
#help .div1 p{
    color: rgb(110, 107, 107);;
}
#help .div2 p{
    color: rgb(110, 107, 107);;
}
#help .div3 p{
    color: rgb(110, 107, 107);;
}
#help .div2 div{
    display: flex;
    gap:10px;
}
#help .div3 div{
    display: flex;
    gap:10px;
}

/* footer */

footer{
    width:100%;
    height:60vh;
}
#footer{
    width:100%;
    height:60vh;
    border: 1px solid black;
    background-color:rgb(96, 85, 74) ;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap:100px
}
.foot-div{
    width:300px;
    height: 400px;
    line-height: 30px;
    padding-top: 30px;
}
.signup-div{
    width:300px;
    height:400px;
    line-height: 40px;
    padding-top: 30px;
}
.signup-div button{
    width:150px;
    height:30px;
    border-radius: 5px;
    background-color:rgb(233, 223, 211) ;
}
.signup-div button a{
     text-decoration: none;
     color: rgb(72, 64, 55);
}
.signup-div button a:hover{
    font-size: 15px;
}
.signup-div div{
    display: flex;
    gap:40px;
    margin-top: 40px;
}
.signup-div div i{
    font-size: 30px;
}
.signup-div div i:hover{
    font-size: 35px;
}








